{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h3>User Details</h3>
            <p>ID: {{ user.id }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Age: {{ user.age }}</p>
        </article>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">Users</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                            ID: {{ user.id }}, Username: {{ user.username }}, Age: {{ user.age }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}

